{% extends "base.html" %}
{% block chart_js %}
	<script type="text/javascript">

		$(function () {
		    $(document).ready(function () {
		        $('#chart-commits').highcharts({
		            chart: {
		                plotBackgroundColor: null,
		                plotBorderWidth: null,
		                plotShadow: false,
		                style: {
		                    fontFamily: 'Raleway'
		                }
		            },
		            title: {
		                text: 'Monthly Commits',
		            },
		            xAxis: {
			            categories: {{ months_categories|safe }}
			        },
		            yAxis: {
			            title: {
			                text: 'Number of commits'
			            },
			            plotLines: [{
			                value: 0,
			                width: 1,
			                color: '#808080'
			            }]
			        },
			        legend: {
			            layout: 'vertical',
			            align: 'right',
			            verticalAlign: 'middle',
			            borderWidth: 0
			        },
		            series: {{ commits|safe }}
		        });

			});
		});
	</script>
{% endblock chart_js %}

{% block content %}

	<style type="text/css">

		#my-commits {
			background-color: #383838;
		}

		#developer-filter, #developer-label {
			display: none;
		}

		#search-input {
			margin-left: 22%;
		}

	</style>

{% endblock content %}